<section>
    <h1>História das linguagens de programação</h1>
    <p>A programação de computadores é a própria base da era digital em que vivemos hoje. Sempre que você gosta de um post nas redes sociais, enviar um e-mail ou colocar um alarme no seu telefone, uma linguagem de programação está trabalhando nos bastidores - puxando os cordelinhos.</p>

<p>Mas por onde começou tudo isto? E o que impulsionou o seu crescimento na indústria líder que existe hoje? Acima de tudo, por que conhecer a história das linguagens de programação é importante para contratação de desenvolvedores?</p>

<p>Junte-se a nós, ao embarcarmos num tour pela história das linguagens de programação. Esta retrospectiva irá demonstrar o quanto a programação de computadores se desenvolveu ao longo dos anos. Vai levá-lo de volta das primeiras linguagens e códigos de máquina complicados para uma linguagem sofisticada, legível pelo homem, que alimenta as nossas tecnologias favoritas de hoje.</p>
</section>