* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

header {
  position: relative;
  color: white;
  padding: 20px;
  background: linear-gradient(rgb(110, 110, 209), black, rgb(192, 71, 71));
}
header h1 {
  text-align: center;
  font-family: sans-serif;
}
.menu {
  /* display: none; */
  color: black;
  background: linear-gradient(30deg, #86e3ce, #d0e6a5);
  border-radius: 8px;
  box-shadow: 0 5px 5px 0 #181818;
  position: absolute;
  top: 75px;
  left: 0px;
}
.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu li {
    position: relative;
  padding: 0 5px;
  border-right: #ddf1b5 solid thin;
}
.menu ul li:last-child {
  border-right: none;
}
.menu ul li a {
  display: block;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  color: #004d3b;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s all ease-in-out;
}
.menu ul li:hover a {
  background-color: #3bcfad;
}
.menu ul li > ul {
  position: absolute;
  left: 123px;
  top: 0;
  /* flex-direction: column; */
  background: linear-gradient(30deg, #86e3ce, #ffdd94);
  width: 100px;
  /* transform: translateX(50%); */
  border-radius: 8px;
  z-index: -1;
  box-shadow: 0 5px 5px 0 #181818;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}
.menu ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
.menu ul li > ul li {
  width: 100%;
  border-right: none;
  border-bottom: #ddf1b5 solid thin;
}
.menu ul li > ul li:last-child {
  border-bottom: none;
}
.menu ul li:hover > ul li a {
  background-color: transparent;
  padding: 12px 0;
}
.menu ul li > ul li:hover a {
  background-color: #f8c350;
}

/* ----------------------main-------------------------------- */

section {
  padding: 15px;
  margin: 0 auto;
  width: 60%;
  background-color: #f0efbb;
}
section h1 {
  text-align: center;
  margin-bottom: 20px;
}
section p {
  text-indent: 15ch;
  line-height: 1.5;
}

/* ---------------------------footer------------------------------ */

footer {
  color: beige;
  display: flex;
  background-color: rgb(50, 50, 60);
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}
